/* NAV & FOOTER*/
.nav,
.footer {
  grid-column-start: 2;
  color: var(--nav-color);
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-top: 2rem;
  margin-bottom: 3rem;
}

.footer {
  border-top: 2px solid #000000;
}

.nav .menu-icon {
  font-size: 1.2rem;
  display: none;
  cursor: pointer;
}

.nav ul .close-icon {
  display: none;
}

.nav ul,
.footer ul {
  flex-basis: 40%;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}

.nav ul li,
.footer ul li {
  text-transform: capitalize;
  font-size: 14px;
  font-weight: var(--font-weight-regular);
  transition: opacity 250ms ease-in-out;
}

.nav ul li:hover,
.footer ul li:hover {
  cursor: pointer;
  opacity: 0.8;
  transition: opacity 250ms ease-in-out;
}

/* TAG */
.image-tag {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-100%) rotate(-90deg);
  transform-origin: right top;
  background: var(--tag-background);
  color: var(--tag-color);
  font-size: 12px;
  font-weight: 400;
  padding-left: 1em;
  padding-bottom: 1em;
  margin: 0;
}

/* TILES */
.tiles-container {
  grid-column-start: 2;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.tiles-container .tile {
  text-decoration: none;
  color: var(--title-color);
  flex-basis: 49%;
  display: flex;
  flex-direction: column;
  margin-bottom: 4rem;
}

.tile .thumbnail {
  position: relative;
}

.tile .thumbnail img {
  width: 100%;
}

/* .tile .thumbnail .tag {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-100%) rotate(-90deg);
  transform-origin: right top;
  background: var(--tag-background);
  color: var(--tag-color);
  font-size: 12px;
  font-weight: 400;
  padding-left: 1em;
  padding-bottom: 1em;
  margin: 0;
} */

.tile .title {
  font-size: 26px;
  font-weight: 700;
  color: var(--title-color);
  margin-top: 1em;
  margin-bottom: 1em;
}

.tile .view {
  display: flex;
  align-items: center;
}

.tile .view div {
  width: 32px;
  height: 2px;
  background: var(--accent-color);
  margin-right: 16px;
}

.tile .view h5 {
  text-transform: uppercase;
  color: var(--accent-color);
  font-size: 13px;
  font-weight: 700;
  transition: opacity 200ms ease-in-out;
  margin: 0px;
}

.tile .view h5:hover {
  opacity: 0.8;
  transition: opacity 200ms ease-in-out;
}

/* DETAIL CONTENT */
.detail-content {
  grid-column-start: 2;
  display: flex;
  justify-content: space-between;
  margin-bottom: 5rem;
}

.detail-content .image-container {
  flex-basis: 46%;
  position: relative;
}

.detail-content .image-container img {
  width: 100%;
}

.detail-content .details {
  flex-basis: 46%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.detail-content .details .title {
  font-size: 68px;
  font-weight: 700;
  color: var(--title-color);
  text-align: left;
  margin: 0;
}

.detail-content .details .sort {
  font-size: 13px;
  font-weight: 700;
  color: var(--accent-color);
  letter-spacing: 0.5px;
  text-transform: uppercase;
  transition: opacity 200ms ease-in-out;
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
}

.detail-content .details .sort:hover {
  opacity: 0.8;
  transition: opacity 200ms ease-in-out;
  cursor: pointer;
}

.detail-content .details .content {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.detail-content .details .content .content-title {
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 0.5px;
  margin: 0;
  color: var(--title-color);
}

.detail-content .details .date-container {
  display: flex;
  align-items: center;
  margin-top: 0.5em;
}

.detail-content .details .date-container .line {
  width: 32px;
  height: 2px;
  background: #a4a4a4;
  margin-right: 1rem;
}

.detail-content .details .date-container .date {
  font-size: 13px;
  font-weight: 700;
  color: #a4a4a4;
  margin: 0;
}

.detail-content .details .content-text {
  font-family: "Merriweather Sans", sans-serif;
  line-height: 28px;
  color: #333333;
  font-size: 17px;
  margin-top: 0.5em;
  font-weight: 200;
}

@media (max-width: 1500px) {
  .nav ul,
  .footer ul {
    flex-basis: 50%;
  }
}

@media (max-width: 1250px) {
  /* details */
  .detail-content {
    flex-direction: column;
    align-items: center;
  }

  .detail-content .image-container {
    width: 60%;
  }

  .detail-content .details {
    margin-top: 2em;
  }

  .detail-content .details .title {
    font-size: 58px;
    margin-bottom: 0.6rem;
  }

  .detail-content .details .sort {
    margin-top: 0.5rem;
  }

  .detail-content .details .content {
    margin-top: 0.5rem;
  }

  /* nav & footer */
  .nav ul,
  .footer ul {
    flex-basis: 58%;
  }
}

@media (max-width: 1000px) {
  .nav ul,
  .footer ul {
    flex-basis: 65%;
  }
}

@media (max-width: 850px) {
  /* nav */
  .nav {
    position: relative;
  }

  .nav.move {
    grid-column-start: 1;
  }

  .nav .menu-icon {
    display: block;
  }

  .nav ul {
    background: #fff;
    top: 0;
    z-index: 20;
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 2;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    opacity: 0;
    visibility: hidden;
  }

  .nav ul.active {
    visibility: visible;
    opacity: 1;
    transition: opacity 250ms ease-in-out;
  }

  .nav ul .close-icon {
    display: block;
    font-size: 1.5rem;
    position: absolute;
    top: 4%;
    right: 4%;
    cursor: pointer;
  }

  .nav ul li {
    font-size: 1.5rem;
  }

  /* footer */
  .footer {
    flex-direction: column;
    align-items: center;
  }

  .footer ul {
    width: 100%;
    margin-top: 1rem;
  }

  /* tileset */
  .tiles-container {
    justify-content: center;
  }

  .tiles-container .tile {
    flex-basis: 100%;
  }

  /* details */
  .detail-content .image-container {
    width: 100%;
  }

  .detail-content .details .title {
    font-size: 48px;
  }
}

@media (max-width: 650px) {
  .footer ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .footer ul li {
    flex-basis: 25%;
    padding: 4px;
    box-sizing: border-box;
  }

  .image-tag {
    padding-left: 0.6em;
    padding-bottom: 0.6em;
  }

  .tile .title {
    font-size: 20px;
  }

  .tile .view h5 {
    font-size: 11px;
  }

  /* details */
  .detail-content .details .title {
    font-size: 45px;
  }

  .detail-content .details .content .content-title {
    font-size: 26px;
  }
}

@media (max-width: 400px) {
  .tile .title {
    font-size: 17px;
  }

  .detail-content .details .title {
    font-size: 38px;
  }
}
